/* item list location */
.checklist-items
{
}

/* Lines in between checks */
.checklist-row
{
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    align-items: center;
    padding: 10px 10px;
    margin-top: 0px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    border-left: 2px solid #222222;
    border-right: 2px solid #222222;
}

/* item-name horizontal position */
.item-name
{
    text-align: center;
}

/* Done/Unlocked horizontal positions */
.columnName
{
    text-align: center;
    margin-right: 15px;
    margin-left: 0px;
}



/*-----------------------------------------------------------------------------------------------------*/

/* Tables arrangement */

@media (min-width: 1300px) {
  .table-grid {
    flex-wrap: nowrap;
  }
}

@media (max-width: 1299px) and (min-width: 900px) {
  .checklist-grid {
    flex-wrap: wrap;
  }
  .checklist-column {
    flex: 1 1 calc(33.333% - 16px);
  }
}

@media (max-width: 899px) and (min-width: 600px) {
  .checklist-column {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 599px) {
  .checklist-column {
    flex: 1 1 100%;
  }
}
