/* Lines in between checks */
.checklist-row
{
    display: grid;
    grid-template-columns: 1fr 60px 60px;
    align-items: center;
    padding: 10px 10px;
    margin-top: 0px;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;

    background-color: aquamarine;
}

/* item-name horizontal position */
.item-name
{
    text-align: center;
}

/* Done/Unlocked horizontal positions */
.columnName
{
    text-align: center;
    margin-right: 15px;
    margin-left: 0px;
}