.settings-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-box {
    background: #c0e2e2;
    border: 2px solid black;
    padding: 30px;
    max-height: 90vh;
    width: 600px;
    overflow-y: auto;
}

.settings-box h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 45px;
    color: rgb(90, 48, 9);
    text-align: center;
}

.close-button {
    padding: 8px 16px;
    border: 2px solid black;
    background: white;
    cursor: pointer;
    border-radius: 5px;
}

/* Presets */
.presetSettings
{
    margin-bottom: 30px;
    text-align: center;
    margin-right: 25px;
}

.presetSettings label
{
    margin-left: 15px;
    font-size: 30px;
    text-align: center;
}

.presetSettings select
{
    margin-left: 5px;
    margin-bottom: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
}

/* Other Settings */

.generalWarning
{
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #d4fffb;
}

.settingBlock
{
    justify-self: center;
    justify-content: center;
    margin-bottom: 30px;
    display: grid;
    row-gap: 10px;
    grid-template-columns:none;
    background-color: #ffd88e;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    width: 475px;
}

.settingTitle
{
    color: rgb(63, 31, 1);
    font-size: 25px;
    text-align: center;
}

.settings
{
    justify-content: center;
    margin-bottom: 10px;
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    background-color: #ffe4b3;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 450px;
    border-radius: 25px;
}

.settings label
{
    margin-left: 15px;
    font-size: 20px;
}

.settings select
{
    margin-left: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
}
