.search-bar
{
    justify-self: center;
    margin-bottom: 15px;
    margin-top: 10px;
}

.search-bar input[type = "search"],
.search-bar input[type = "text"]
{
    width: 450px;
    height: 30px;
    border-radius: 20px;
}

.search-bar input[type = "text"]
{
    font-size: 20px;
    padding-left: 15px;
}