*, *::before, *::after /* Targets virtual elements browsers sometimes addd before or after real elements for styling purposes */
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1
{
    text-align: center;
    font-size: 50px;
    color: #000000;
    padding-top: 15px;
    padding-bottom: 10px;

}

.settings-button
{
   font-size: 18px;
   cursor: pointer;
   margin-left: 30px;
   height: 35px;
}

.settings-button:hover
{
    background-color: rgb(180, 228, 131);
}

.main
{
    position: relative;
    min-height: 100vh;
}

.background
{
    position: fixed;
    inset: 0;
    z-index: -1;
}

.content
{
    position: relative;
    z-index: 1;
}