*, *::before, *::after /* Targets virtual elements browsers sometimes addd before or after real elements for styling purposes */
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.aboveBar
{
    justify-items: center;
    align-items: center;
    
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "progress title settings";
    column-gap: 20px;
    row-gap: 10px;

    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

/* overall progress */
.progress
{
    grid-area: progress;
    font-size: 40px;
    color: #383333;
    justify-self: center;
    align-self: center;
}

h1
{
    grid-area: title;
    align-self: center;
    font-size: 40px;
    color: rgba(20, 88, 190, 0.95);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 3px;
}

.settings-button
{
    grid-area: settings;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    border-color: rgba(38, 67, 109, 0.95);
    color: rgba(5, 40, 94, 0.95);
    font-weight: bold;
}

.settings-button:hover
{
    background: rgba(182, 244, 255, 0.7);
}

@media (max-width: 800px)
{
    .aboveBar
    {
        grid-template-columns: repeat(2, auto);
        grid-template-areas:
            "title title"
            "progress settings";
    }
}

@media (max-width: 450px)
{
    .aboveBar
    {
        grid-template-columns: auto;
        grid-template-areas:
            "title"
            "settings"
            "progress";
    }
}

.background
{
    position: fixed;
    inset: 0;
    z-index: -1;
}

.content
{
    position: relative;
    z-index: 1;
}