.table-grid
{
    display: grid;
    grid-template-columns: repeat(6, auto);
    row-gap: 15px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;

    justify-content: center;
    justify-content: space-evenly;
}

@media (max-width: 1800px)
{
    .table-grid
    {
        grid-template-columns: repeat(5, auto);
    }
}

@media (max-width: 1500px)
{
    .table-grid
    {
        grid-template-columns: repeat(4, auto);
    }
}

@media (max-width: 1200px)
{
    .table-grid
    {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 900px)
{
    .table-grid
    {
        grid-template-columns: repeat(2, auto);
    }
}

@media (width < 600px)
{
    .table-grid
    {
        grid-template-columns: repeat(1, auto);
    }
}

/* --- 1 layer --- */
    .tableLevel-1
    {
        width: 300px;
        background-color: rgb(243, 216, 182, .9);
        
        border-radius: 10px;
        border: solid 3px rgb(184, 118, 32, .9);
    }

    /* Check name, progress, and arrow */
    .checklist-header
    {
        display: grid;
        grid-template-columns: repeat(3, auto);
        cursor: pointer;

        justify-content: center;
        justify-content: space-evenly;
        align-items: center;

        height: 45px;
        color: #242424;
    }

    .checklist-progress, .headerName
    {
        font-size: 25px;
    }

    .openCloseButton
    {
        font-size: 20px;
        cursor: pointer;
        background: none;
        border: none;
    }

/* --- Opened tab --- */

    .openTab
    {
        padding: 5px;
    }

    .checklist-enableScrolling
    {
        max-height: 300px;
        overflow-y: scroll;
        border-bottom: solid 1px rgb(87, 51, 5);
        border-top: solid 1px rgb(87, 51, 5);
    }

    .checklist-enableScrolling::-webkit-scrollbar
    {
        width: 10px;
        background-color: rgb(184, 118, 32, .25);
    }

    .checklist-enableScrolling::-webkit-scrollbar-track
    {
        /* Track: The background */
        border-left: solid 1px rgb(87, 51, 5);
        border-right: solid 1px rgb(87, 51, 5);
    }

    .checklist-enableScrolling::-webkit-scrollbar-thumb
    {
        /* Thumb: The part the user clicks and drags */
        border-radius: 3px;
        margin: 1px;
        background-color: rgb(143, 87, 15, .75);
    }

    /* Done, Found */
    .listHeader
    {
        display: grid;
        grid-template-columns: 1fr 50px 68px;
        column-gap: 6px;
        
        font-weight: bold;
        color: #242424;
        position: sticky; 
        padding-top: 1px;
        padding-bottom: 1px;
        top: 0;

        justify-self: stretch;
        
        background-color: rgba(255, 179, 79, 0.18);
        border-top: 1px solid rgb(87, 51, 5);
        border-left: 1px solid rgb(87, 51, 5);
        border-right: 1px solid rgb(87, 51, 5);
    }

    .checklist-row
    {
        display: grid;
        grid-template-columns: 1fr 60px 60px;
        align-items: center;
        padding: 5px;
        border-top: 1px solid rgb(87, 51, 5);
        border-left: 1px solid rgb(87, 51, 5);

        background-color: rgba(255, 254, 210, 0.6);
        color: rgb(15, 9, 0);
    }

    .item-name
    {
        text-align: center;
    }

/* --- 2 layers --- */

    /* outside */
    .tableLevel-2_Heading
    {
        width: 350px;
        border-color: rgb(187, 127, 255);
        border: solid 5px;
    }

    /* inside */
    .tableLevel-2_Tables
    {
        margin-bottom: 5px;
        width: 350px;
        border-color: rgba(255, 182, 193, 1);
        border: solid 5px;
    }



